.special-date {
    background : red;
    color:orange
  }

  .cls
  {
    background: yellow;
    color : red ;
    border-radius:50%

  }

  // .mat-calendar-body-cell-content.mat-calendar-body-today{
  //   background-color: green !important;
  //   color: white !important;
  // }

 .mat-calendar-body-selected{
  background : yellow;
  color :red 
 }

 .example-custom-date-class {
  background: orange;
  border-radius: 100%;
}