.light-blue {
    background-color: rgb(249, 251, 255);
  }
  .job_details_img{
    background:  url(../../../assets/image/job.PNG) no-repeat center center fixed; 
    background-size: cover;
    height: 300px;
  }
  .heading_white
  {
    color: white;
    font-weight: bold;
  }